.tribe-component-btc {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.888);
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    line-height: 1.6;
    z-index: 1;
    margin-top: 6em;
}

.hide {
    display: none;
}