.create-container {
    padding: 1em;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.multisig_creator {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.choose-bitpac {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: space-evenly;
}

.bitpac-type {
    background-color: #212121;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 10px;
}