@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header-container {
    position: fixed;
    width: 100%;
    background-image: linear-gradient(to right, #212121, #573952, #a64963, #e8674d, #ffa500);
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    z-index: 2;
}

.company-logo {
    display: flex;
    flex-direction: row-reverse;
    gap: .5em;
    align-items: center;
    text-decoration: none;
    color: white;
    align-self: flex-start;
}

.hamburger {
    z-index: 2;
    background-color: #454545;
    border-radius: 10px;
}

.company-name {
    margin: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #ffa500;
}

.company-img {
    width: 50px;
    margin: 0;
}

.navbar-open {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #212121e9;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    justify-content: center;
    gap: 3em;
}

.navbar-closed {
    display: none;
}

.nav-links,
.connect-wallet-btn {
    background-color: #a8eb12;
    color: #454545;
    text-decoration: none;
    padding: .5em;
    border-radius: 10px;
    text-align: center;
}

@media screen and (min-width: 500px) {
    .navbar-closed {
        display: flex;
        flex-direction: row;
        gap: .5em;
    }
    .nav-links,
    .connect-wallet-btn {
        background-color:  #a8eb12;
        color: #454545;
        padding: .5em;
        border-radius: 10px;
    }

    .nav-links:hover,
    .connect-wallet-btn:hover {
        background-color: #212121;
        color: white;
    }

    .hamburger {
        display: none;
    }

    .connect-wallet-btn {
        background-color: #c6db00;
        color: #454545;
        padding: .4em .8em;
        border-radius: 10px;
    }
  }