@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.header-container {
    background-color: #212121;
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.company-logo {
    display: flex;
    flex-direction: row-reverse;
    gap: .5em;
    align-items: center;
    text-decoration: none;
    color: white;
}

.company-name {
    margin: 0;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: orange;
}

.company-img {
    /* border: 1px solid magenta; */
    width: 50px;
    margin: 0;
}

.navbar {
    background-color: #454545;
    padding: .8em;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: .5em;
    /* border: 1px solid red; */
}

.nav-links {
    text-decoration: none;
    color: white;
}
