.select_threshold {
    padding: .3em;
}

.modal {
    margin-top: 1em;
    border: 1px solid #454545;
    color: white;
    background-color: #454545cf;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-text {
    line-height: 1.6;
}

.exit-modal-btn {
    cursor: pointer;
    align-self: flex-end;
    font-size: 1.3rem;
    border: 1px solid white;
    padding: .3em;
}